
/* ===============================================> help css here  */

*{margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; }
:root{
/* ===============> stock font here*/
--Montserrat-main-font: "Montserrat", sans-serif;
--Hind-2nd-font: "Hind", sans-serif;
/* font-family: "Montserrat", sans-serif; */
/* ===============> stock color here*/
--brand-color-yellow-Sunray : #f1a008;
--light-color-grey-color: #5a5c5c;
--rich-black-color: #010304;
--white-color: #ffffff;

}

.container{
    max-width: 1150px;
}
body{
    font-family: var(--Didact-Gothic-2nd-font);
    transition: all 0.3s ease;
}
html{
    scroll-behavior: smooth;
}
p{font-size: 16px; font-weight: 400; font-family: var(--Hind-2nd-font); color: var(--light-color-grey-color);}

ul, li{list-style: none;}

a{text-decoration: none; color: var(--rich-black-color);}

h1, h2, h3, h4, h5, h6{ font-weight: 400 !important; margin:0; text-transform: capitalize; font-family: var(--Montserrat-main-font);}

h1{  font-size: clamp(25px, 8vw, 70px);}

h2{  font-size: clamp(10px, 7vw, 35px); font-weight:500!important;}

h3{ font-size: clamp(7px, 5vw, 20px);}

h4{font-size: clamp(8px, 5vw, 18px);}

img{width: 100%;}

/* ===============================================> HELP CSS ENDS HERE  */

/* ===============================================> header and nvbar  
---------------------------------------------------------------*/


/* ---------------------------------------------------------------
===============================================> header ends nvbar  */



/* ---------------------------------------> spinner css starts here */
.spinner-cnt{background-color: rgb(0, 0, 0);position: fixed;top: 0; left: 0;width: 100%;height: 100%;z-index: 9999;display: flex;align-items: center;justify-content: center;transition: all 0.2s;}
.spinner-cnt .spinner-border{color: #00A3C4;width: 50px;height: 50px;}
/* ---------------------------------------> spinner css ends here */



/* ===============================================> header and nvbar  
---------------------------------------------------------------*/

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease-in;
    padding: 20px 0;
    background-color: #fff;
}

/* -----------------------------> brand logo  */

header .brand-logo img{
    width: 80px;
}

/* -----------------------------> menu items  */
header .navbar_here{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    font-family: var(--Montserrat-main-font);
    color: var(--brand-color-dark-green);
    display: block;
    position: relative;
    padding-bottom: 2px;
    position: relative;
    transition: all 0.5s ease;
}
nav ul li .active{
    color: var(--brand-color-yellow-Sunray);
}
nav ul li a:hover{
    color: var(--brand-color-yellow-Sunray);
}

nav ul li a::before{
    position: absolute;
    content: '';
    width: 100%;
    /* height: 100%; */
    height: 2px;
    background-color: var(--brand-color-yellow-Sunray);
    /* background-color: red; */
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform  0.2s ease-in;
    /* z-index: -1; */
}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

/* -----------------------------> some custom css menu buttom design  */
header .menu-btn .animation-btn:first-child{
    background-color: #fff;
    color: var(--rich-black-color);
    border: 1px solid #9e9e9e31;
}


/* -----------------------------> hamburger  css  */
header .hamburger{
    cursor: pointer;
    padding: 4px 7px;
    display: none;
}
.hamburger .bar{
    width: 30px;
    height: 2px;
    background-color: #010304;
    margin: 7px 0;
    transition: all 0.5s ease-in-out;
}
.hamburger_open .bar:nth-child(1){
    transform: translateY(11px) rotate(45deg);
}
.hamburger_open .bar:nth-child(2){
    opacity: 0;
}
.hamburger_open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/* -----------------------------> header sticky here css  */
header.sticky{
    background-color: #FFF;
    padding: 12px 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}





/* ---------------------------------------------------------------
===============================================> header ends nvbar  */
/* .hero-section{
    z-index: -1 !important;
} */

.slide{
    display: flex;
    align-items: center;
    padding-top: 80px;
}
.slide .btn{
    background-color: var(--brand-color-yellow-Sunray);
}

.slide-01,
.slide-02,
.slide-03{
    background-image: url(../image/Hero\ Section\ Image\ 01.jpeg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #010304b2;
    
}
.slide-02{
    background-image: url(../image/Hero\ Section\ Image\ 02.jpeg) !important;
}
.slide-03{
    background-image: url(../image/Hero\ Section\ Image\ 03.jpeg);
}
.hero-section-cnt h1{
    font-family: var(--Hind-2nd-font);
    font-weight: 600!important;
    letter-spacing: 5px;
}




/* -----------------------------> items dot here */

.owl-theme .owl-dots {
	display: block;
    transition: all 0.5s ease;
}
.owl-theme .owl-dots span{
    margin-top: 10px !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: var(--brand-color-yellow-Sunray);
    transition: all 0.5s ease;
}

.hero-section .owl-dots{
    position: absolute;
    width: 100%;
    bottom: 5% !important;
}


/* ------------------> owl carosul nav or icon here icon buttom */
.owl-theme .owl-nav button{
    border: none !important;
    outline: none !important;
    
  }

  /* .owl-theme .owl-nav [class*="owl-"]:hover {
      background: transparent;
  } */

  /* .owl-theme .owl-nav button span{
       background-color: white;
       border-radius: 1px;
       box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  } */
  
  /* .owl-theme .owl-nav button span:hover{
      
  } */

  .owl-prev,
  .owl-next{
     position: absolute;
     top: 50%;
     font-size: 25px !important;
     border-radius: 50px!important;
     background-color: #00040560 !important;
     color: #fff !important;
  }
  .owl-prev i,
  .owl-next i{
    padding: 10px;
    /* margin-bottom: -20px; */
  }

  .owl-prev{
      left: 25px;
      /* left: 0; */
      /* margin-top: -10px !important; */
  }
  .owl-next{
      right: 25px;
      /* right: 0; */
  }
  .owl-prev:hover,
  .owl-next:hover{
      color: #ffffff !important;
  }






/* ===============================================> professional starts nvbar  
---------------------------------------------------------------*/
.professional-text{
    padding: 100px 0;
    width: 100%;
    background-color: #fffafa;
}



.professional-item p{
    border-bottom: 1px solid rgb(199, 196, 196);
}
.professional-item .none-border{
    border-bottom: none !important;
}

.professional-item i{
    font-size: 32px !important;
    color: var(--brand-color-yellow-Sunray);
}

/* ---------------------------------------------------------------
===============================================> professional ends  */





/* Our-works =======================================>
-------------------------------------------------------- */
.Our-works{
    width: 100%;
    /* height: 100vh; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 130px 0;
    
}
.image-filter-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.image-filter .active{
    background-color: var(--brand-color-yellow-Sunray) !important;
}
.image-filter-cnt .image{
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.image-filter-cnt .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.5s ease-in;
    
}
.image-filter-cnt .image:hover img{
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

.image-filter-cnt{
    position: relative;
}
.Our-works-img-overlay{
    position: absolute;
    top: 0;
}

/*  ------------------------------------------------->
Our-works =========================================== */



#Incleible .btn{
    background-color: var(--brand-color-yellow-Sunray) !important;
    color: var(--rich-black-color) !important;
}




.Why-Choose{
    padding: 130px 0;
}

.Why-Choose-info-cnt i{
    border: 1px solid var(--brand-color-yellow-Sunray);
}






/* ===============================================> counter-card starts   
---------------------------------------------------------------*/
#counter-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #f8f8db;
}

@media (max-width:992px){
    .counter-card-grid .first-line{
        display: none !important;
    }
}

.counter-card-grid .first-line,
.counter-card-grid .secend-line{
    border: 1px solid;
    width: 70px;
    height: 1px;
    color: #8d8f8f36;
}
.counter-card-cnt .counter{
    color: var(--brand-color-yellow-Sunray) !important;
}



/* ---------------------------------------------------------------
===============================================> counter-card ends  */







/* ===============================================> Our-team starts   
---------------------------------------------------------------*/
.Our-team{
    padding: 120px 0;
}
.Our-team-info-gird{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}

@media (max-width:992px){
    .Our-team-info-gird{
        grid-template-columns: auto auto;
        transition: all 0.5s ease-in-out;
        gap: 25px;
    }
}



@media (max-width:578px){
    .Our-team-info-gird{
        grid-template-columns: auto;
        transition: all 0.5s ease-in-out;
        gap: 25px;
    }
}


.Our-team-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    position: relative;
}

.Our-team-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);
    transition: all 0.3s ease;
}
.Our-team-card:hover img{
    filter: saturate(112%);
    -webkit-filter: saturate(112%);
    -moz-filter: saturate(112%);
    /* filter:  brightness(79%); */
    transition: all 0.3s ease;
}


.Our-team-card-caption{
    background-color: #eef3f3;
}
.Our-team-card-ovrlay h4,
.Our-team-card-caption h4{
    font-weight: 400;
    font-size: 14px;
}
.Our-team-card-ovrlay{
    position: absolute;
    bottom: 0; 
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.Our-team-card:hover .Our-team-card-ovrlay{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in;
    bottom: 50;
}
/* ---------------------------------------------------------------
===============================================> Our-team ends  */









/* ===============================================> pricing-tables starts   
---------------------------------------------------------------*/
.pricing-tables{
    background-image: url(../image/Hero\ Section\ Image\ 03.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000a9;
    background-blend-mode: multiply;
    padding: 100px 0;
}

.prcing-card-three-divin h4{
    font-size: 14px;
}
.pricing-four-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 20px;
}


@media (max-width:800px){
    .pricing-four-card{
       grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px){
    .pricing-four-card{
       grid-template-columns: 1fr;
    }
}



/* ---------------------------------------------------------------
===============================================> pricing-tables ends  */




/* ===============================================> Clients starts and nvbar  
---------------------------------------------------------------*/
.Clients-slider-logo .owl-stage-outer{
    height: 120px;
}
.logo-slide img{
    width: 100px !important;
    height: auto;
    text-align: center !important;
}
.logo-slide{
    text-align: center;
}
.owl-item{
    text-align: center !important;
}
element {
	width: 264.2px;
}
/* ---------------------------------------------------------------
===============================================> Clients ends   */




/* ===============================================> buyers-Say starts 
---------------------------------------------------------------*/

#buyers-Say{
    background-color: #F1FAEE;
}
.buyers-Say-slider-items img{
    object-fit: cover;
    border-radius: 50%;
    
}
.buyers-Say-slider-items span{
    font-family: var(--Montserrat-main-font);
}

/* .buyers-Say-slider-items {
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.5s ease;
} */
.buyers-image img{
   max-width: 18%;
   margin: auto !important;
}


/* ---------------------------------------------------------------
===============================================> buyers-Say ends  */





/* ===============================================> watch-video starts 
---------------------------------------------------------------*/
#watch-video{
    background-image: url(../image/Hero\ Section\ Image\ 02.jpeg);
    background-position: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #000000b6;
    background-blend-mode: multiply;
}
.watch-video-cnt i{
    color: #020227;
    background-color: #fff;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.watch-video-cnt h2{
    letter-spacing: 8px;
}

/* ---------------------------------------------------------------
===============================================> watch-video */




#Recnt-stn{
    padding: 100px 0;
}







/* ===============================================> recent-news starts and   
---------------------------------------------------------------*/

.recent-news{
    padding: 110px 0;
}

.Recnt-stn-cnt-icon-text-one,
.Recnt-stn-cnt-icon-text-two,
.Recnt-stn-cnt-icon-text-three,

.amazing-post-Image-cnt-icon-text-one,
.amazing-post-Image-cnt-icon-text-two,
.amazing-post-Image-cnt-icon-text-three,

.amazing-post-cnt-icon-text-one,
.amazing-post-cnt-icon-text-two,
.amazing-post-cnt-icon-text-three{
    cursor: pointer;
}


.Recnt-stn-cnt-icon-text-one:hover,
.Recnt-stn-cnt-icon-text-two:hover,
.Recnt-stn-cnt-icon-text-three:hover,

.amazing-post-Image-cnt-icon-text-one:hover,
.amazing-post-Image-cnt-icon-text-two:hover,
.amazing-post-Image-cnt-icon-text-three:hover,

.amazing-post-cnt-icon-text-one:hover,
.amazing-post-cnt-icon-text-two:hover,
.amazing-post-cnt-icon-text-three:hover

{
    color: var(--brand-color-yellow-Sunray);
    transition: all 0.3s ease-in;
}







.amazing-post-Image-cnt-icon-text-one:hover p,
.amazing-post-Image-cnt-icon-text-two:hover p,
.amazing-post-Image-cnt-icon-text-three:hover p,

.amazing-post-cnt-icon-text-one:hover p,
.amazing-post-cnt-icon-text-two:hover p,
.amazing-post-cnt-icon-text-three:hover p,

.Recnt-stn-cnt-icon-text-one:hover p,
.Recnt-stn-cnt-icon-text-two:hover p,
.Recnt-stn-cnt-icon-text-three:hover p{
    color: var(--brand-color-yellow-Sunray);
    transition: all 0.3s ease-in;
}


.amazing-image-slider{
    object-fit: cover;
}
.image-slide-items img{
    border-radius: 3px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    cursor: pointer;
}
.amazing-image-slider .owl-prev,
.amazing-image-slider .owl-next{
     top: 37%;
     background-color: #05c1f085 !important;
     color: #fff !important;
  }
  


/* ---------------------------------------------------------------
===============================================> recent-news ends */






/* ===============================================> two-footer starts  
---------------------------------------------------------------*/

.two-footer-About-us-cnt span{
    background-color: var(--light-color-grey-color);
    height: 1px;
    margin-top: 40px;
}
.two-footer-new-post-image img{
    width: 120px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
}
.two-footer-new-post-text h3{
    font-size: 18px;
    color: gray;
}




.two-footer-favourite-cnt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
}

.Favorites-image img{
    cursor: pointer;
}

.two-footer-favourite-info .view-more{
    cursor: pointer;
}

.two-footer-favourite-info .view-more:hover h3{
    color: var(--brand-color-yellow-Sunray) !important;
    transition: all 0.3s ease-in;
}

.two-footer-favourite-info .view-more:hover i{
    background-color: var(--brand-color-yellow-Sunray) !important;
    color: #fff !important;
    transition: all 0.3s ease-in;
}

/* .Favorites-image{
    position: relative;
} */

/* .favourite-overlay{
    position: absolute;
    top: 0;
} */


.two-footer-favourite-info .view-more h3{
    /* padding: 10px 0; */
    font-weight: 500 !important;
    font-size: 15px !important;
}

.two-footer-About-us-socail-kit i:hover{
    background-color: var(--brand-color-yellow-Sunray) !important;
    color: #fff !important;
    cursor: pointer;
    transition: all 0.3s ease-in;
}


/* ---------------------------------------------------------------
===============================================> two-footer ends */





/* ===============================================> footer starts  
---------------------------------------------------------------*/

footer{
    background-color: #0c0c0c;
}
.main-footer-cnt h4{
    color: #8d8f8f;
    font-family: var(--Montserrat-main-font);
    font-size: 15px;
}
.footer-cnt-list a{
    font-family: var(--Montserrat-main-font);
    font-size: 15px;
    color: #8d8f8f;
}
.footer-cnt-list a:hover{
    color: var(--brand-color-yellow-Sunray) !important;
    transition: all 0.3s ease-in;
}
.main-footer-cnt{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.footer-cnt-list{
    text-align: right;
    cursor: pointer;
}

@media (max-width:992px){
    .main-footer-cnt{
        grid-template-columns: 1fr;
        text-align: center !important;
    }
    .footer-cnt-list{
        text-align: center;
        margin-top: 10px;
    }
}

/* ---------------------------------------------------------------
===============================================> footer ends */